{% extends "base.html" %}
{% load static %}

{% block title %}
All My Posts
{% endblock title %}


{% block content %}
<section id="all-posts">
        <div class="album py-5 bg-light">
            <div class="container">
              <h2 class="text-center">My Posts</h2>
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for post in all_posts %}
                  {% include "blog/includes/post.html" %}
            {% endfor %}
              </div>
            </div>
          </div>

</section>

{% endblock content %}