{% extends 'base.html' %}
{% load static %}

{% block title %}{{post.title}}{% endblock title %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-2">

            </div>
            <div class="col-8 p-2">
                <div class = "border rounded bg-light p-2">
                    <h1 class="text-center">{{post.title}}</h1>
                    <img src="{{post.post_image.url}}" width="500" class = "img-thumbnail rounded mx-auto d-block" alt="">
                    {{post.content|safe}}
                </div>
            </div>
            <div class="col-2">
            </div>
        </div>
    </div>

</section>
{% endblock content %}