{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block css_files %}
    {% endblock css_files %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'starting-page' %}">Ryan's Blog</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                  <li class="nav-item">
                    <a class="nav-link {% if request.path == "/" %}active{% endif %}" aria-current="page" href="{% url 'starting-page' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    {% url 'posts-page' as posts_page_url %}
                    <a class="nav-link {% if request.path == posts_page_url %}active{% endif %}" href="{% url 'posts-page' %}">All Posts</a>
                  </li>
                  <li class="nav-item">
                    {% url 'proposal' as proposal_page_url %}
                    <a class="nav-link {% if request.path == proposal_page_url %}active{% endif %}" href="{% url 'proposal' %}">My Proposal</a>
                  </li>
                  <li class="nav-item">
                    {% url 'music' as music_page_url %}
                    <a class="nav-link {% if request.path == music_page_url %}active{% endif %}" href="{% url 'music' %}">Trip Overview</a>
                  </li>
                </ul>
                <form method="get" action="{% url 'search_view' %}" class="d-flex">
                  <input name="q" value="{{ request.GET.q }}" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
        </header>
            {% block content %}
            {% endblock %}
            <footer class="text-muted py-5">
                <div class="container">
                  <p class="float-end mb-1">
                    <a href="#">Back to top</a>
                  </p>
                  <p class="mb-1">Thank you for joining my blog! Here I have documented my experience in Japan.</p>
                  <p class="mb-0"><a href="/">Visit the homepage</a> for more information!</p>
                </div>
              </footer>        

</body>
</html>